<div class="container">
    <div class="row">
  
      <div class="col-md-5">
        <img class="img-fluid" src="{{DetailProduct.LINK_ANH}}" >
      </div>
  
      <div class="col-md-7">
        <h3 class="my-3">{{DetailProduct.TEN_SAN_PHAM}} </h3>
       <p class="text-info">Giá sản phẩm: {{DetailProduct.GIA_HIEN_TAI}}</p>
        <button type="button" class="btn btn-primary">Đặt mua</button>
      </div>

    </div>
  </div>