<form action="/register" method="post">
    <div>
        <label>Last Name:</label>
        <input type="text" name="lastname" />
    </div>
    <div>
        <label>First Name:</label>
        <input type="text" name="firstname" />
    </div>
 <div>
        <label>Mail:</label>
        <input type="text" name="mail" />
    </div>
     <div>
        <label>Phone Number:</label>
        <input type="text" name="phone" />
    </div>
    <div>
        <label>Username:</label>
        <input type="text" name="username" />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <input type="checkbox" id="CheckBoxDK" name="CheckBoxDK" onclick="CheckDKFunc()">
        <label for="CheckBoxDK"> Tôi đồng ý với các <a style="color: cornflowerblue;"
                href="https://www.sacombank.com.vn/canhan/Documents/IB2013/DIEU_KIEN_VA_DIEU_KHOAN_SU_DUNG_INTERNET_BANKING_new.pdf">điều
                khoản và điều kiện</a></label></div>
    <div>
        <div id="submit" style="display: none;"><button type="submit">REGISTER</button></div>
    </div>
</form>
<script>
    function CheckDKFunc() {
        var checkBox = document.getElementById("CheckBoxDK");
        var text = document.getElementById("submit");
        if (checkBox.checked == true) {
            text.style.display = "";
        } else {
            text.style.display = "none";
        }
    }
</script>